<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Tipos de reserva</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_reserve_type_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th width="80">Ações</th>
    </tr>

  <% @reserves_type.each do |reserve_type| %>
    <tr>
      <td><%= reserve_type.name %></td>
      <td>
        <%= link_to edit_reserve_type_path(reserve_type), title: 'Editar' do %><i class="icon-edit"></i><% end %>
        <%= link_to reserve_type, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>