<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Selecionando Veículo</a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', class: 'salvar' %></li>
      <li><%= link_to 'Cancelar', confirmation_travel_path(@travel.request.id)%></li>
    </ul>
  </div>
</div>

<%= render 'form' %>



