<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Listando Viagens</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_travel_path %></li>
    </ul>
  </div>
</div>

<div class='espacamento'>
  <table class= "table table-hover">
    <tr>
      <th>Responsavel</th>
      <th>Solicitação</th>
      <th>Veiculo</th>
      <th>Ações</th>
    </tr>

  <% @travels.each do |travel| %>
    <tr>
      <td><%= travel.request.user.name %></td>
      <td><%= travel.request.goal %></td>
      <td><%= travel.vehicle.carrier_plate %></td>
      <td>
          <%= link_to edit_travel_path(travel), title: 'Editar' do %><i  class="icon-edit"></i><%end%>
          <%= link_to travel, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class= "icon-trash"></i><%end%>
    </tr>
  <% end %>
  </table>
</div>