<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Funções</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_function_path %></li>
    </ul>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th width="80">Ações</th>
  </tr>

<% @functions.each do |function| %>
  <tr>
    <td><%= function.name %></td>
    <td><%= function.level %></td>
    <td>
    <%= link_to edit_function_path(function), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
    <%= link_to function, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>
