<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Listando Mensalidade</a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', id: 'salvar' %> </li>
      <li><%= link_to 'Voltar', drivers_path %> </li>
    </ul>
  </div>
</div>

<h2>Lista de diarias NÃO Repassadas</h2>
<table class="table table-hover">
  <tr>
    <th>Repassar</th>
    <th>Data</th>
    <th>Motorista</th>
    <th>Veiculo</th>
    <th>Viagem</th>
  </tr>

<%= form_tag monthlies_repasses_path(@driver_id), method: "post", id: 'formulario' do %>
<% @monthlies.each_with_index do |monthly, i| %>
  <tr>
    <td><%= check_box_tag "diarias[#{i}]", monthly.id %></td>
    <td><%= format_date_br monthly.data %></td>
    <td><%= monthly.driver.name %></td>
    <td><%= monthly.travel.vehicle.vehicle_type %></td>
    <td><%= monthly.travel.request.goal %></td>
  </tr>
<% end %>
<% end %>
</table>

<h2>Lista de diarias Repassadas</h2>
<table class="table table-hover">
  <tr>
    
    <th>Cancelar</th>
    <th>Data</th>
    <th>Motorista</th>
    <th>Veiculo</th>
    <th>Viagem</th>
    
  </tr> 

<% @monthlies2.each do |monthly| %>
  <tr>
    <td><%= link_to monthlies_cancelar_path(monthly.id, @driver_id), title: 'Cancelar' do %><i class="icon-trash" ></i><%end%></td>
    <td><%= format_date_br monthly.data %></td>
    <td><%= monthly.driver.name %></td>
    <td><%= monthly.travel.vehicle.vehicle_type %></td>
    <td><%= monthly.travel.request.goal %></td>
  </tr> 
<% end %> 
</table>

<script type="text/javascript">
  $("#salvar").click(function(){
    $("#formulario").submit();
  });
</script>