<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Departamentos</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_sector_path %></li>
    </ul>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th width="80">Ações</th>
  </tr>

<% @sectors.each do |sector| %>
  <tr>
    <td><%= sector.name %></td>
    <td>
      <%= link_to edit_sector_path(sector), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to sector, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>
