<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @participant.request %>
</p>

<p>
  <b>User:</b>
  <%= @participant.user %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
