<% unless flash.empty? %>
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3><%= flash[:warning] %></h3>
  </div>
<% end %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Editando usuário</a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', class: 'salvar' %></li>
      <li><%= link_to 'Cancelar', users_path %></li>
    </ul>
  </div>
</div>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span5">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: 'autofocus' %>
    </div>
    <div class="field">
      <%= f.label :siape %>
      <%= f.text_field :siape %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="span5">
    <div class="field">
      <%= f.label :institution_id %>
      <%= f.collection_select :institution_id, Institution.where(deleted: false), :id, :campus, prompt: true %>
    </div>
    <div class="field">
      <%= f.label "Departamento" %>
      <%= f.collection_select :sector_id, Sector.where(deleted: false), :id, :name, prompt: true %>
    </div>
    <div class="field">
      <%= f.label :role_id %>
      <%= f.collection_select :role_id, Role.where(deleted: false), :id, :name, prompt: true %>
    </div>
    <div class="field">
      <%= f.label :user_type_id %>
      <%= f.collection_select :user_type_id, UserType.where(deleted: false), :id, :type_name, prompt: true %>
    </div>
  </div>
  <div class="span5">
    <div class="field">
      <%= f.label :cpf %>
      <%= f.text_field :cpf %>
    </div>
    <div class="field">
      <%= f.label :registration %>
      <%= f.text_field :registration %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>