<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Detalhes do Usuario</a>
    <ul class="nav">
      <li><%= link_to 'Atribuir funções', user_durations_path(@user.id) %></li>
      <li><%= link_to 'Gerar senha provisória', '#' %></li>
      <li><%= link_to 'Editar', edit_user_path(@user.id)%></li>
      <li><%= link_to 'Desativar/Desativar', '#'%></li>
      <li><%= link_to 'Deletar', @user ,method: :delete, data: { confirm: 'Você tem certeza?' }%></li>
      <li><%= link_to 'Voltar', users_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <%= @user.name %>
  </p>

<% if @user.user_type_id == 1 %>
  <p>
    <strong>SIAPE:</strong>
    <%= @user.siape %>
  </p>
<% end %>

<% if @user.user_type_id == 2 %>
  <p>
    <strong>Matrícula:</strong>
    <%= @user.registration %>
  </p>
<% end %>

  <p>
    <strong>E-mail:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= @user.phone %>
  </p>


  <p>
    <strong>Instituição:</strong>
    <%= @user.institution.campus %>
  </p>

<% if @user.user_type_id != 3 %>
  <p>
    <strong>Departamento:</strong>
    <%= @user.sector.name %>
  </p>
<% end %>

<% if @user.user_type_id == 1 %>
  <p>
    <strong>Cargo:</strong>
    <%= @user.role.name %>
  </p>
<% end %>

  <p>
    <strong>Ativo:</strong>
    <%= frendly_boolean @user.active %>
  </p>
</div>

