<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Recessos</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_recess_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Início</th>
      <th>Fim</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>

  <% @recesses.each do |recess| %>
    <tr>
      <td><%= format_date_br recess.begin %></td>
      <td><%= format_date_br recess.end %></td>
      <td><%= recess.description %></td>
      <td>
        <%= link_to edit_recess_path(recess), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to recess, method: :delete, data: { confirm: 'Are you sure?' }, title: 'Remover' do %><i class="icon-trash"></i><% end %>
      </td>
    </tr>
  <% end %>
  </table>

</div>