<% unless flash.empty? %>
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3><%= flash[:warning] %></h3>
  </div>
<% end %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Vigência das funções: <%= @user.name %> </a>
    <ul class="nav">
      <li><%= link_to 'Novo', new_user_duration_path(@user.id) %></li>
      <li><%= link_to 'Voltar', @user %></li>
    </ul>
  </div>
</div>


<table class="table table-hover">
  <tr>
    <th>Inicio</th>
    <th>Fim</th>
    <th>Status</th>
    <th>Função</th>
    <th>Nível</th>
    <th>Departamento/Curso</th>
    <th width="80">Ações</th>
  </tr>

<% @durations.each do |duration| %>
  <tr>
    <td><%= format_date_br duration.initiation %></td>
    <td><%= format_date_br duration.end %></td>
    <td><%= duration.duration_status.role %></td>
    <td><%= duration.function.name %></td>
    <td><%= duration.function.level %></td>
    <td><%= duration.sector.name %></td>
    <td>
        <%= link_to edit_duration_path(duration), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to destroy_duration_path(@user.id, duration.id) , data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

