<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Novo bloco</a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', class: 'salvar' %></li>
      <li><%= link_to 'Cancelar', blocks_path %></li>
    </ul>
  </div>
</div>

<%= render 'form' %>