<%= form_for(@duration_status) do |f| %>
  <% if @duration_status.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @duration_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="espacamento">
    <div class="field">
      <%= f.label :role %>
      <%= f.text_field :role %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>
