<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @duration_status.role %>
</p>

<p>
  <b>Deleted:</b>
  <%= @duration_status.deleted %>
</p>


<%= link_to 'Edit', edit_duration_status_path(@duration_status) %> |
<%= link_to 'Back', duration_statuses_path %>
