<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Justificativa de desaprovação</a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', class: 'salvar' %></li>
      <li><%= link_to 'Cancelar', confirmations_path%></li>
    </ul>
  </div>
</div>
<div class="espacamento">
<%= form_for @confirmation, url: non_approve_request_path(@request.id), method: "post" do |f| %>
  <% if @confirmation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confirmation.errors.count, "error") %> prohibited this confirmation from being saved:</h2>

      <ul>
      <% @confirmation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Justificativa %><br />
    <%= f.text_area :disapproval_justification, rows: 5 %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>