<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="espacamento">
  <div class="field">
    <%= f.label :Placa %>
    <%= f.text_field :carrier_plate %>
  </div>
  <div class="field">
    <%= f.label :Nome%>
    <%= f.text_field :vehicle_type %>
  </div>
  <div class="field">
    <%= f.label :Numero_de_Passageiros %>
    <%= f.number_field :number_of_persons %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>