<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Veículos</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_vehicle_path %></li>
    </ul>
  </div>
</div>

<div class = "espacamento">
  <table class="table table-hover">
    <tr>
      <th>Placa</th>
      <th>Tipo</th>
      <th>Número de passageiros</th>
      <th>Ações</th>
    </tr>

  <% @vehicles.each do |vehicle| %>
    <tr>
      <td><%= vehicle.carrier_plate %></td>
      <td><%= vehicle.vehicle_type %></td>
      <td><%= vehicle.number_of_persons %></td>
      <td>
        <%= link_to edit_vehicle_path(vehicle), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to vehicle, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>