<style type="text/css">
  table {
    padding: 1px;
    border: 1px solid #aaa;
    width: 100%;
  }

  table td,th {
    border: 1px solid #aaa;
  }

  table th {
    width: 100px;
  }
</style>

<h4 class="espacamento"><center>Universidade Federal do Piauí</center></h4>
<h5 class="espacamento"><center>Campus Senador Helvídio Nunes de Barros</center></h5>
<h5 class="espacamento">Período: <%= @semester.name %></h5>
<h5 class="espacamento">Sala: <%= @espaco.name %></h5>

<div class="espacamento">
   <table class="" >
    <tr>
      <th>Horário</th>
      <th><center>Seg</center></th>
      <th><center>Ter</center></th>
      <th><center>Qua</center></th>
      <th><center>Qui</center></th>
      <th><center>Sex</center></th>
      <th><center>Sáb</center></th>

    </tr>
    <!--<%# for i in (0..15) %>-->
    <% for i in (0..15) %>
    <tr>
      <th width=100><%= schedules[i] %></th>
      <% for j in (1..6) %>
          <td><center><%= @array[i][j] %></center></td>
      <% end %>
    </tr>
    
    <% end %>
   </table>
</div>