<h1 class="espacamento">Salas</h1>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Capacidade</th>
    <th>Tamanho</th>
    <th>Preço</th>
  </tr>

<% @space.each do |space| %>
  <tr>
    <td><%= space.name %></td>
    <td><%= space.capacity %></td>
    <td><%= space.size %></td>
    <td><%= space.price_local %></td>
  </tr>
<% end %>
</table>