<h1 class="espacamento">Veículos</h1>

<table class="table table-hover">
  <tr>
    <th>Placa</th>
    <th>Tipo</th>
    <th>Número de passageiros</th>
  </tr>

<% @vehicles.each do |vehicle| %>
  <tr>
    <td><%= vehicle.carrier_plate %></td>
    <td><%= vehicle.vehicle_type %></td>
    <td><%= vehicle.number_of_persons %></td>
  </tr>
<% end %>
</table>