<h4><center>Universidade Federal do Piauí</center></h4>
<h5><center>Campus Senador Helvídio Nunes de Barros</center></h5>
<br>
<h4>Reservas de <%= months[@mes-1] %> de <%= @ano %></h4>
<h4><%= @space.location_type.name %>:<%= @space.name%></h4>
<div class="row">
<div class="span11">
  
 <table class="tabela" border="1" width="1000">
 	<tr>
 		<th width="120">Horário</th>
      <% for i in (1..@qtd_dias_mes) %>
 		    <th width="25"><center><%= i %></center></th>
      <% end %>

 	</tr>
  <% for i in (0..15) %>
  <tr>
    <th><%= schedules[i] %></th>
    <% for j in (0..@qtd_dias_mes-1) %>
        <% x = tipo_objeto @array[i][j] %>
      	<td class="<%= x %>"><center>
        <% if x == 'reserva-usuario' %>
          <% y="RE" %>
          <% elsif x == 'feriado-recesso' %>
          <% y="F" %>
          <% elsif x == 'alocacao-permanente' %>
          <% y="RF" %>
          <% else %>
          <% y="" %>
        <% end %>
        <%= y %>
        </center></td>
    <% end %>
  </tr>
  <% end %>
 </table>

</div>


<div class="span3">

<br>
<table class="tabela" border="2">
  <tr>
    <td><strong>Código</strong></td>
    <td><strong>Significado</strong></td>
  </tr>
  <tr>
    <td class="feriado-recesso">F</td>
    <td>Feriado/Recesso</td>
  </tr>
  <tr>
    <td class="alocacao-permanente">RF</td>
    <td>Reservas fixas</td>
  </tr>
  <tr>
    <td class="reserva-usuario">RE</td>
    <td>Reservas Eventual</td>
  </tr>
</table>

</div>
</div>