<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Espaços</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_place_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Capacidade</th>
      <th>Observações</th>
      <th>Tamanho</th>
      <th>Tipo de local</th>
      <th>Bloco</th>
      <th width="80">Ações</th>
    </tr>

  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.capacity %></td>
      <td><%= place.observations %></td>
      <td><%= place.size %></td>
      <td><%= place.local_type.name %></td>
      <td><%= place.block.name unless place.block.nil? %></td>
      <td>
          <%= link_to edit_place_path(place), title: 'Editar' do %><i class="icon-edit"></i><% end %>
          <%= link_to place, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>