<ul class="nav">
  <li><%= link_to 'Inicio', root_path %></li>
  <li><%= link_to 'Instituições', institutions_path %></li>
  <li><%= link_to 'Departamentos', sectors_path %></li>
  <li><%= link_to 'Cargos', roles_path %></li>
  <li class="dropdown">
    <%= link_to "#", class: "dropdown-toggle", :"data-toggle"  => "dropdown" do %>
      Configurar valores de diárias
      <b class="caret"></b>
    <% end %>
    <ul class="dropdown-menu">
      <li><%= link_to 'Diárias', dailies_path %></li>
      <li><%= link_to 'Funções', functions_path %></li>
      <li><%= link_to 'Locais', locals_path %></li>
      <li><%= link_to 'Definir diárias para funções e locais', daily_function_locals_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Usuários', users_path %></li>
</ul>

<ul class="nav pull-right">
  <!-- <li><a href="#"><span class="badge badge-info">7</span> Solicitações</a></li> -->
  <li><%= link_to 'Sair', administrator_logout_path %></li>
</ul>
