<ul class="nav">
  <li><%= link_to 'Inicio', root_path %></li>
  <li><%= link_to 'Reserva de espaço', reserve_of_physical_spaces_path %></li>
  <li><%= link_to 'Solicitação de Transporte', requests_path %></li>
</ul>

<ul class="nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
    <ul class="dropdown-menu">  
      <li><%= link_to 'Editar perfil', edit_user_profile_path %></li>
      <li><%= link_to 'Alterar senha', edit_user_password_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Sair', user_logout_path %></li>
</ul>